#navbar {
    position: fixed;
    left: 0;
    height: 55px;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease-in;
    font-size: 1.5em;
    &.active {
        background-color: #fff;
        font-size: 1em;
        box-shadow: 0px 10px 10px rgba(2, 2, 2, 0.36);
    }
    .icon {
        display: inline-block;
        padding: 10px;
        font-size: 2em;
        color: #000;
        a {
            color: #000;
        }
    }
    .menu {
        padding: 0;
        margin: 0 auto;
        text-align: center;
        li {
            padding: 10px;
            display: inline;
            list-style-type: none;
            a {
                color: #000;
            }
        }
    }
    .menu-hamburguer {
        display: none;
    }
    #list {
        display: none;
    }
}

@media (max-width: 600px) {
    #navbar {
        background-color: #fff;
        font-size: 1em;
        box-shadow: 0px 10px 10px rgba(2, 2, 2, 0.36);
        .menu {
            display: none;
        }
        #list {
            display: block;
            box-shadow: 0px 10px 10px rgba(2, 2, 2, 0.36);
        }
        .menu-hamburguer {
            display: block;
            padding: 0;
            margin: 0;
            z-index: 20;
            .icon {
                display: block;
                width: 50%;
                float: none;
                margin: 0 auto;
            }
            .menuActive {
                #bar1 {
                    height: 2px;
                    top: 7px;
                    position: absolute;
                    width: 20px;
                    -ms-transform: rotate(47deg);
                    -webkit-transform: rotate(47deg);
                    transform: rotate(47deg);
                }
                #bar2 {
                    height: 2px;
                    position: absolute;
                    width: 20px;
                    top: 7px;
                    transition-duration: 0.2s;
                    -ms-transform: rotate(135deg);
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                }
                #bar3 {
                    display: none;
                }
            }
            .button {
                position: absolute;
                display: block;
                width: 30px;
                top: 11px;
                left: 11px;
                cursor: pointer;
                .bar {
                    display: block;
                    width: 100%;
                    height: 2px;
                    margin-top: 6px;
                    background-color: black;
                    border-radius: 1px;
                    transition-duration: 0.2s;
                }
            }
        }
        .list {
            list-style: none;
            position: absolute;
            top: 31px;
            background-color: #fff;
            width: 100%;
            padding-left: 0;
            z-index: -5;
            a {
                color: #000;
            }
            li {
                padding-bottom: 8px;
                padding-left: 11px;
            }
        }
    }
}
